tr
  td
    == link_to(merchant.name, merchant)
  td
    == merchant.email
  td
    == merchant.description
  td style = 'text-align: center;'
    == merchant.total_transaction_sum.to_f
  td
    .btn-group[role="group" aria-label="Basic example"]
      = link_to('Edit', edit_merchant_path(merchant), class: 'btn btn-outline-success')
      = link_to('Delete', merchant, data: {method: 'delete', confirm: 'Are you sure you want to delete this merchant?'}, class: 'delete_merchant btn btn-outline-danger')