h3 Edit Merchant
br

= form_for @form, url: merchant_path(@merchant), method: 'PUT' do |f|
  div.form-group
  	label Name
  	= f.text_field :name, value: @merchant.name, id: 'name', class: 'form-control'

  br
  div.form-group
  	label Email
  	= f.text_field :email, value: @merchant.email, class: 'form-control'

  br
  div.form-group
  	label Description
  	= f.text_area :description, value: @merchant.description, class: 'form-control'

  br
  = f.submit 'Update', class: 'btn btn-success'