h1 Merchants
hr
br
table.table.table-striped.table-hover
	thead
	  tr
	    th[scope="col"]
	      | Name
	    th[scope="col"]
	      | Email
	    th[scope="col"]
	      | Description
	    th[scope="col"]
	      | Total Transactions
	    th[scope="col"]
	tbody
		- @merchants.find_each do |merchant|
			== render partial: 'merchants/merchant_row', locals: {merchant: merchant}

