.card
  h5.card-header
    == @merchant.name
  .card-body
    h5.card-title
      == @merchant.email
    p.card-text
      == @merchant.description
    button.btn.btn-outline-primary[type="button"]
      |  Total Transactions 
      span.badge.bg-success
        == @merchant.total_transaction_sum.to_f

br

.card
  h5.card-header
    | Transactions
  .card-body
    table.table.table-striped.table-hover
    	thead
    	  tr
    	    th[scope="col"]
    	      | Customer Email
    	    th[scope="col"]
    	      | Customer Phone
    	    th[scope="col"]
    	      | Amount
    	    th[scope="col"]
    	      | Status
    	    th[scope="col"]
    	    	| Merchant
    	tbody
    		- @merchant.payment_transactions.find_each do |payment_transaction|
    			== render partial: 'payment_transactions/payment_transaction_row', locals: {payment_transaction: payment_transaction}

