tr
  td
    == payment_transaction.customer_email
  td
    == payment_transaction.customer_phone
  td
    == payment_transaction.amount
  td
    == payment_transaction.status
  td
    == payment_transaction.merchant.name