h1 == @title
hr
br
table.table.table-striped.table-hover
	thead
	  tr
	    th[scope="col"]
	      | Customer Email
	    th[scope="col"]
	      | Customer Phone
	    th[scope="col"]
	      | Amount
	    th[scope="col"]
	      | Status
	    th[scope="col"]
	    	| Merchant
	tbody
		- @payment_transactions.find_each do |payment_transaction|
			== render partial: 'payment_transactions/payment_transaction_row', locals: {payment_transaction: payment_transaction}

