doctype html
html
  head
    title EmerchantPay
    meta name="viewport" content="width=device-width,initial-scale=1"
    == csrf_meta_tags
    == csp_meta_tag
    == stylesheet_link_tag "application", "data-turbo-track": "reload"
    == javascript_importmap_tags

  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.bg-primary style="margin-bottom: 50px;"
      .container
        a.navbar-brand[href="#"]
          | E-Merchant Pay
        button.navbar-toggler[type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"]
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.me-auto.mb-2.mb-lg-0
            li.nav-item
              a.nav-link.active[aria-current="page" href == merchants_path]
                | Merchants
            li.nav-item.dropdown
              a#navbarDropdown.nav-link.dropdown-toggle[href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"]
                |  Transactions 
              ul.dropdown-menu[aria-labelledby="navbarDropdown"]
                li
                  a.dropdown-item[href="/payment_transactions"]
                    | All
                li
                  a.dropdown-item[href="/payment_transactions?type=Authorize"]
                    | Authorized
                li
                  a.dropdown-item[href="/payment_transactions?type=Charge"]
                    | Charged
                li
                  a.dropdown-item[href="/payment_transactions?type=Refunded"]
                    | Refunded
                li
                  a.dropdown-item[href="/payment_transactions?type=Reversed"]
                    | Reversed
          form.d-flex action == "/#{controller_name}" method = "get"
            input.form-control.me-2[type="search" placeholder="Search" aria-label="Search" name = "query" value==params[:query]]
            button.btn.btn-outline-success[type="submit"]
              | Search

    .container
      - if flash[:notice].present?
        div.alert.alert-success role="alert"
          == flash[:notice]
      - if flash[:alert].present?
        div.alert.alert-danger role="alert"
          == flash[:alert]
      == yield